<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_RulesPro
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- for save the used rule to counter -->
    <event name="sales_order_place_after">
        <observer name="Amasty_RulesPro::after_place_order" instance="Amasty\RulesPro\Observer\Sales\Order\AfterPlaceOrder"/>
    </event>
</config>
